:root {
  --white: rgb(234, 234, 234);
  --dark: #1f1e1e;
  --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--white);
  box-sizing: border-box;
}

body {
  width: min(95%, 1440px);
  margin: 0 auto;
}

input {
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-block-end: 5px;
}

.gifs {
  margin-block-end: 2rem;
}

.gifs > div {
  margin-block-end: 3rem;
}

.gifs > div:last-of-type {
  margin-block-end: unset;
}

.category-name {
  margin-block-end: 0.8rem;
  font-size: 1.7rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  column-gap: 0.8rem;
  row-gap: 1.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.card-img-container {
  width: 100%;
  height: 170px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info,
.card-title {
  background-color: transparent;
}

.card-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
}

.card-title {
  margin: 0;
  font-size: 13px;
}

@media (min-width: 768px) {
  .category-name {
    font-size: 2rem;
    margin-block-end: 1rem;
  }

  .card-grid {
    column-gap: unset;
    row-gap: unset;
    gap: 1.2rem;
  }

  .card-img-container {
    height: 250px;
  }

  .card-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .card {
    transition: transform ease 0.5s, box-shadow ease 0.5s;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .card-img {
    filter: brightness(75%) grayscale(20%) blur(1.2px);
    transition: filter ease 0.5s;
  }

  .card:hover .card-img {
    filter: brightness(100%) grayscale(0%) blur(0px);
  }

  .card-info {
    transition: background-color 0.5s ease;
  }

  .card:hover .card-info {
    background-color: var(--dark);
  }

  .card-title {
    transition: color 0.5s ease;
  }

  .card:hover .card-title {
    color: var(--white);
  }
}

@media (min-width: 1440px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
